body {
  background-color: rgba(11, 11, 11, 0.5);
}

.container {
  width: 100%;
  max-width: 767px;
  min-width: 320px;
  padding: 0 15px;
  margin: 0 auto;
}
@media (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}
@media (min-width: 1024px) {
  .container {
    max-width: 1200px;
  }
}

.main,
.footer {
  background-color: #000;
}

button {
  cursor: pointer;
  border: none;
  display: block;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

input {
  border: none;
  display: block;
}

input:focus {
  outline: none;
}

.header {
  padding: 78px 0;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../images/header-bg-mobile.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 0.020833333333333332), (min-resolution: 2dpi), (-webkit-min-device-pixel-ratio: 192), (min-resolution: 192dppx) {
  .header {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../images/header-bg-mobile@2x.jpg");
  }
}
@media (min-width: 768px) {
  .header {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../images/header-bg-tablet.jpg");
  }
}
@media (min-width: 768px) and (min-device-pixel-ratio: 2), (min-width: 768px) and (-webkit-min-device-pixel-ratio: 0.020833333333333332), (min-width: 768px) and (min-resolution: 2dpi), (min-width: 768px) and (-webkit-min-device-pixel-ratio: 192), (min-width: 768px) and (min-resolution: 192dppx) {
  .header {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../images/header-bg-tablet@2x.jpg");
  }
}
@media (min-width: 1200px) {
  .header {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../images/header-bg-desktop.jpg");
  }
}
@media (min-width: 1200px) and (min-device-pixel-ratio: 2), (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 0.020833333333333332), (min-width: 1200px) and (min-resolution: 2dpi), (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 192), (min-width: 1200px) and (min-resolution: 192dppx) {
  .header {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../images/header-bg-desktop@2x.jpg");
  }
}
.header__title {
  font-family: "Montserrat", sans-serif;
  font-weight: 900;
  font-size: 18px;
  color: #dc56c5;
  max-width: 212px;
  text-align: center;
  margin: 0 auto;
}

.logo {
  position: absolute;
  top: 0;
  left: 0;
  width: 105px;
  height: 100px;
  border-radius: 0 0 100% 0;
  -webkit-backdrop-filter: blur(30px);
          backdrop-filter: blur(30px);
  padding: 23px;
}
.logo__icon {
  width: 60px;
  height: 30px;
}

.header-search {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.header-search__input {
  -webkit-backdrop-filter: blur(20px);
          backdrop-filter: blur(20px);
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 20px;
  padding: 10px 30px;
  margin: 25px auto 0;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #939393;
}

.footer {
  padding: 27px 0;
}
.footer__text {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 14px;
  text-align: center;
  color: #939393;
  max-width: 252px;
  margin: 0 auto;
}/*# sourceMappingURL=main.css.map */