.footer {
  padding: 27px 0;


  &__text {
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-size: 14px;
    text-align: center;
    color: #939393;
    max-width: 252px;
    margin: 0 auto;

    @media (min-width: 768px) {
      font-size: 16px;
      max-width: none;
      padding: 18px 0;
    }
  }
}
